/* styles.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading1 {
    color: black;
    font-weight: bold;
}

.heading2 {
    color: black;
    font-weight: normal;
}

.button {
    color: white;
    background-color: rgb(7, 115, 148);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}